/* common css */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strong, sub, sup, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

h2{
	font-size: 40px;
	text-align: center;
	border-bottom: solid 8px rgba(144,164,174,0.4);
	padding-bottom: 20px;
}

h3{
	font-size: 32px;
}

p{
	font-size: 20px;
}

img{
	vertical-align: bottom;
}

.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}

.center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.left{
	float: left;
}

.right{
	float: right;
}

.op_background{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	background-color: #000000;
	opacity: 0.4;
}

/*

	firstview

*/
.firstview{
	width: 100%;
	height: 720px;
	background-image: url('../img/background-1.jpg');
	position: relative;
	margin-bottom: 40px;
}

.firstview_msg{
	width: 100%;
	height: 100%;
}

.firstview h1{
	width: inherit;
	text-align: center;
	color: #EEEEEE;
}

.firstview h1{
	font-size: 60px;
}

/*

 main

*/
main{
	width: 80%;
	max-width: 880px;
	height: 100%;
	margin: 0 auto;
}



/*

	vision_msg

*/
.vision{
	width: 100%;
	height: 100%;
	margin-bottom: 40px;
}

.vision h2{
	margin-bottom: 40px;
}

.vision_content{
	width: 100%;
	height: 100%;
	margin-bottom: 40px;
}

.vision_num,.vision_title{
	text-align: center;
}

.vision_num{
	margin-bottom: 18px;
}

.vision_title{
	margin-bottom: 28px;
}

.vision_content img{
	width: 400px;
	height: 400px;
}

.vision_content p{
	width: 80%;
	height: 100%;
	margin: 0 auto;
}

/*

	 business

 */
.business{
	width: 100%;
	height: 100%;
	margin: 0 20px 40px;
}

.business h2{
	width: 100%;
	height: 100%;
	margin-bottom: 100px;
}

.business_column{
	width: 100%;
	margin-bottom: 60px;
}
.business_column h3{
	margin-bottom: 16px;
	border-bottom: solid 2px rgba(144,164,174,0.4);
}

.business_content{
	width: 100%;
	height: 400px;
	background-image:url("../img/background-1.jpg");
	position: relative;
}

.business_section{
	width: 50%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	position: relative;
}

.business_text{
	width: 80%;
	padding: 0 10%;
	color: #EEEEEE;
}

/* business_2 */
.business_column2{
	width: 100%;
	height: 100%;
	position: relative;
	margin-bottom: 60px;
}

.business_content2{
	width: 100%;
	height: 400px;
}

.business_section2 h3{
	margin-bottom: 16px;
	border-bottom: solid 2px rgba(144,164,174,0.4);
}
.img-wrap{
	width: 50%;
	max-width: 400px;
	height: 100%;
	max-height: 400px;
}
.img-wrap img{
	width: 100%;
	height: inherit;
	border-radius: 50%;
}
.business_section2{
	width: 50%;
	height: 100%;
	position: relative;
}
.business_text2{
	width: 80%;
	padding: 0 10%;
}


/*

	about

*/
.about{
	width: 100%;
	height: 100%;
	position: relative;
}

.about h2{
	margin-bottom: 22px;
}

.about dt{
	font-size: 26px;
	padding-top: 28px;
	margin-bottom: 30px;
	font-weight: bold;
	border-top: 1px solid #EEEEEE;
}

.about dt:first-child{
	border-top: none;
}

.about dd{
	font-size: 18px;
	padding-bottom: 28px;
	border-bottom: 1px solid #EEEEEE;
}

.about dd:last-child{
	border-bottom: none;
}

/*

	footer

 */

footer{
	width: 100%;
	height: 120px;
	background-color: #2196F3;
}

footer p{
	float: right;
	color: #F5F5F5;
	margin: 80px 20px 0 0;
}
